@import 'normalize.css/normalize.css';

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

a {
  color: black;
  text-decoration: underline;
}

@import '../css/Grid';
@import '../css/Drawing';
@import '../css/Field';
@import '../css/Errors';
