@import 'normalize.css/normalize.css';

html {
  box-sizing: border-box
}

*,
*:before,
*:after {
  box-sizing: inherit
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: black;
  text-decoration: underline;
}

@import '../css/Alert';
@import '../css/Button';
@import '../css/Drawing';
@import '../css/Error';
@import '../css/Errors';
@import '../css/Form';
@import '../css/Grid';
@import '../css/Input';
@import '../css/Navigation';
@import '../css/Page';
@import '../css/UploadButton';
