<% if resource.errors.any? %>
  <ul class='Errors'>
    <% resource.errors.full_messages.each do |message| %>
      <li class='Error'>
        <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>
